### Import Library

In [35]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Column, Integer, String

### Read File CSV

In [18]:
file_CSV = pd.read_csv('D:/Kuliah/Semester 5/TEKNOLOGI_DAN_TOOLS_BIG_DATA/Dataset/data_friedman.csv')
file_CSV.head(5)

   Responden  Jenis  Skor
0          1      1    78
1          2      1    87
2          3      1    89
3          4      1    79
4          5      1    77

### Read File Json

In [20]:
file_JSON = pd.read_json('D:/Kuliah/Semester 5/TEKNOLOGI_DAN_TOOLS_BIG_DATA/Dataset/sample2.json')
file_JSON

                                                     shoppingList
groceries       [{'item': 'Apples', 'quantity': 3, 'unit': 'lb...
householdItems  [{'item': 'Paper Towels', 'quantity': 4, 'unit...
personalCare    [{'item': 'Toothpaste', 'quantity': 2, 'unit':...

### Read File API

In [21]:
pip install request

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement request (from versions: none)
ERROR: No matching distribution found for request

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:
import requests
api_url = "https://jsonplaceholder.typicode.com/todos/1"
response = requests.get(api_url)
response.json()

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

### Read File Databases

In [34]:
username = 'postgres'
password = 'Dynamic01:'
host = 'localhost'
port = '5432'
database = 'CRM'

engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')

Base = declarative_base()

class MyTable(Base):
    __tablename__ = 'customer'
    customerid = Column(String, primary_key=True)
    fname = Column(String)
    lname = Column(String)
    address = Column(String)
    email = Column(String)
    phone = Column(Integer)

Session = sessionmaker(bind=engine)
session = Session()

results = session.query(MyTable).all()
results

for row in results:
    print(f'customerid: {row.customerid}, fname: {row.fname}, lname: {row.lname}, address: {row.address}, email: {row.email}, phone: {row.phone}')

customerid: 1001, fname: John, lname: Doe, address: 123 Main Street, email: john@example.com, phone: 123-456-7890
customerid: 1002, fname: Jane, lname: Smith, address: 456 Oak Avenue, email: jane@example.com, phone: 987-654-3210
customerid: 1003, fname: Michael, lname: Johnson, address: 789 Elm Road, email: michael@example.com, phone: 555-123-4567
customerid: 1004, fname: Emily, lname: Brown, address: 321 Pine Lane, email: emily@example.com, phone: 222-333-4444
customerid: 1005, fname: David, lname: Martinez, address: 567 Cedar Court, email: david@example.com, phone: 777-888-9999
customerid: 1006, fname: Sarah, lname: Anderson, address: 890 Birch Street, email: sarah@example.com, phone: 111-222-3333
customerid: 1007, fname: Christopher, lname: Wilson, address: 432 Maple Drive, email: christopher@example.com, phone: 444-555-6666
customerid: 1008, fname: Amanda, lname: Taylor, address: 876 Walnut Avenue, email: amanda@example.com, phone: 999-888-7777
customerid: 1009, fname: James, lname: Thomas, address: 654 Sycamore Lane, email: james@example.com, phone: 666-555-4444
customerid: 1010, fname: Jessica, lname: Lee, address: 987 Ash Street, email: jessica@example.com, phone: 333-222-1111
customerid: 1011, fname: Daniel, lname: Garcia, address: 234 Pinecrest Road, email: daniel@example.com, phone: 777-999-1111
customerid: 1012, fname: Laura, lname: Hernandez, address: 543 Willow Lane, email: laura@example.com, phone: 555-444-3333
customerid: 1013, fname: Matthew, lname: Young, address: 876 Birch Street, email: matthew@example.com, phone: 111-333-5555
customerid: 1014, fname: Lauren, lname: Lopez, address: 123 Cedar Avenue, email: lauren@example.com, phone: 888-777-6666
customerid: 1015, fname: Ryan, lname: King, address: 678 Elm Drive, email: ryan@example.com, phone: 222-444-6666
customerid: 1016, fname: Taylor, lname: Scott, address: 234 Maple Street, email: taylor@example.com, phone: 999-888-7777
customerid: 1017, fname: Ashley, lname: Green, address: 789 Oak Lane, email: ashley@example.com, phone: 333-555-7777
customerid: 1018, fname: Kevin, lname: Adams, address: 345 Birch Road, email: kevin@example.com, phone: 444-666-8888
customerid: 1019, fname: Brittany, lname: Campbell, address: 567 Pine Avenue, email: brittany@example.com, phone: 777-999-3333
customerid: 1020, fname: Eric, lname: Torres, address: 890 Cedar Lane, email: eric@example.com, phone: 222-111-3333
customerid: 1021, fname: Bagas, lname: Bastian, address: Sepat Binangun, email: bagas@example.com, phone: 123-456-7890